@media (max-width: 768px) {
  /* ===== LOADER MOBILE ===== */
.logo-box {
  position: relative;
  margin: 0 auto;
  padding-top: 10%;
  left: 0;
}

.loader {
    height: 100vh;
    width: 100%;
    background: url('assets/fon.png') center/cover no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px 15px 40px;
    box-sizing: border-box;
}

h1 {
  position: relative;
  top: 0;
  font-size: 128px;
}

/* ===== ВЕРХНЯЯ ПАНЕЛЬ ===== */
.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: black;
}

.icons span {
    margin-left: 5px;
}

/* ===== ЛОГО ===== */
.logo {
    /* width: 140px; */
    margin-top: 10px;
}

/* ===== ТЕКСТ ===== */
.title {
    font-family: 'HistoryFont', serif;
    font-size: 64px;
    text-align: center;
    color: #5c5048;
    line-height: 1.1;
}

/* ===== ЛОДКА ===== */
.boat {
    margin-top: auto;
    opacity: 100;
    background: none;
    border: 0;
    box-shadow: none;

    img {
      width: 164px;
    }
}

/* ===== ПРОГРЕСС ===== */
.progress-container {
    width: 90%;
    height: 24px;
    background: #e0dcd6;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: #5c5048;
    transition: width 0.3s;
}


.rurik-character {
  display: none;
}

.rurik-buttons {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 2;
  }

  .rurik-title {
    width: auto;
    font-size: 128px;
    top: 5%;
  }

  .city {
    font-size: 64px;
    font-family: "Orbitron", sans-serif;
  }

  .year {
    font-size: 96px;
  }

.menu-screen {
    background-size: 390%; /* чуть больше, если нужно «приблизить» на мобилке */
    /* или наоборот background-size: 60%; чтобы ещё сильнее отдалить */
    background-position: center 30%;
    background-position: 55% center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .character {
    width: 200px;
    top: 10%;
    left: 70%;
    bottom: auto;
  }

/* Переопределяет инлайн bottom:120px */
#loader > div[style*="bottom:120px"] {
  bottom: 34px !important;
}

.menu-buttons {
  align-items: center;
padding-top: 20px;
  
}

.menu-left {
  position: relative;
  display: flex;
  gap: 300px;
  left: 0;
  width: auto;
  padding-top: 35%;
}
.menu-text {
  padding-left: 16px;
  font-size: 16px;
}

.menu-btn {
  width: 344px;
  height: 56px;
}

.center {
  left: 75%;

}

.character-game {
  bottom: 15%;
  width: 164px;
  height: auto;
}

.doors {
  height: auto;
  width: 164px;
}

.left {
  left: 4%;
}
.doors-block, .vending-block {
  top: 30%;
}

.top-center {
  top: 32%;

}

.dialogue-text {
  font-size: 16px;
}
}

