/* ===== ФОРМА ===== */
.auth-box {
    position: absolute;
    right: 10%;
    top: 55%;
    transform: translateY(-50%);

    width: 420px;
    padding: 30px;

    background: rgba(240, 225, 200, 0.95);
    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.auth-box h2 {
    font: bold 24px sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.auth-box label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

/* INPUT */
.auth-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;

    border-radius: 20px;
    border: 1px solid #7a5a2a;

    outline: none;
}

/* ПАРОЛЬ */
.password-field {
    position: relative;
}

.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("/assets/eye.png") no-repeat center/contain;
    cursor: pointer;
}

/* РЕГИСТРАЦИЯ */
.register {
    font-size: 13px;
    margin: 10px 0;
}

.register a {
    color: #000;
    font-weight: bold;
}

/* КНОПКА */
.login-btn {
    width: 100%;
    margin-top: 10px;
    padding: 12px;

    background: linear-gradient(#c0392b, #a93226);
    border: none;
    border-radius: 10px;

    color: #fff;
    font-family: 'HistoryChoice', serif;

    font-weight: bold;
    cursor: pointer;

    box-shadow: 0 4px 0 #6e1e14;
}

.login-btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #6e1e14;
}
.login {
    margin: 0;
    height: 100vh;
    background: url('/assets/login.png') center/cover no-repeat;
    position: relative;
}